body {
    background-color:powderblue;
    color: blue;
}
body {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #37559d;
  }
  
  a {
    color: #5165ff;
  }
  
  table {
    border-collapse: collapse;
  }
  
  tr:hover {
    background: #f2f3ff;
    outline: none;
    cursor: pointer;
  }
  
  td {
    border: 2px solid #ccd2ff;
    position: relative;
    padding: 18px;
  }

  #comment {
    position: absolute;
    top: 600px;
    left: 10px;
    width: 100%;
    }

    #label {
      position: absolute;
      top: 570px;
      left: 15px;
    }

    #row-5 td {
      padding: 10px;
      text-align: left;
      border: 1px solid #ddd;
    }
    
    #row-5 td label {
      font-weight: bold;
      margin-right: 10px;
    }
    
    #row-5 select {
      width: 200px;
      padding: 5px;
      font-size: 14px;
      border-radius: 5px;
      border: 1px solid #ddd;
    }
    
    
