body {
    background-color:powderblue;
    color: blue;
}
body {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #37559d;
  }
  
  a {
    color: #5165ff;
  }
  
  table {
    border-collapse: collapse;
  }
  
  tr:hover {
    background: #f2f3ff;
    outline: none;
    cursor: pointer;
  }
  
  td {
    border: 2px solid #ccd2ff;
    position: relative;
    padding: 18px;
  }

  #comment {
    position: absolute;
    top: 500px;
    left: 10px;
    width: 100%;
    }

    #label {
      position: absolute;
      top: 470px;
      left: 15px;
    }
    
    #container {
      position: relative;
    }
    textarea {
      display: block;
    }
